{{#each post}}
<form action="/text/update/{{this._id}}" method="POST">
  <div class="mb-3 h2">
    <label for="editTitle" class="form-label">Title</label>
    <input name="title" id="editTitle" class="form-control form-control-lg" type="text" placeholder="Title"
      value="{{this.title}}" required>
    <label for="editBody" class="form-label">Body</label>
    <textarea class="form-control" name="body" id="editBody" placeholder="Body" rows="5"
      required>{{this.body}}</textarea>
    <label for="editTags" class="form-label">Tags</label>
    <select class="form-select" name="tags" multiple id="editTags" aria-label="multiple select">
      <option value="sport">Sport</option>
      <option value="news">News</option>
      <option value="weather">Weather</option>
      <option value="poem">Poem</option>
    </select>
  </div>
  <button type="submit" class="btn btn-outline-secondary position-absolute top-50 start-50 translate-middle">Update
    text</button>
</form>
{{/each}}