<h1 class="display-1">Welcome to Express-CMS</h1>
<!-- New text form - trigger modal #424874 #DCD6F7-->
<!-- Modal -->

</div>
{{#each posts}}
<!-- Text trigger modal -->
<a class="display-5 title" href="#" data-bs-toggle="modal" data-bs-target="#postModal{{@index}}">
  {{this.title}} - written by: {{this.author}}
</a>
<!-- Modal -->
<div class="modal fade" id="postModal{{@index}}" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="postModalLabel{{@index}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel{{@index}}">{{this.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body lead">
        {{this.body}}
      </div>
      <div class="modal-body">
        <ul class="list-inline">
          <li class="list-inline-item">{{this.tags}}</li>
        </ul>
        <p class="lead">{{this.date}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/text/edit/{{this._id}}" method="GET">
          <button type="submit" class="btn btn-outline-primary">Edit</button>
        </form>
        <form action="/text/delete/{{this._id}}" method="POST">
          <button type="submit" class="btn btn-outline-danger">Remove text</button>
        </form>
      </div>
    </div>
  </div>
</div>
<p class="lead text-body">{{this.body}}</p>
{{/each}}

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal" class="text-muted">Have any questions? Contact
      us!</a> ||
    <a href="#" data-bs-toggle="modal" data-bs-target="#formModal" class="text-muted">Create new text.</a>
  </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="contactModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/contact/add" method="POST">

        <div class="modal-body">
          <div class="mb-3">
            <label for="contactBody" class="form-label">Your question</label>
            <textarea type="text" name="question" class="form-control" rows="5" id="contactBody" required></textarea>
          </div>
          <div class="mb-3">
            <label for="contactAuthor" class="form-label">Your name</label>
            <input type="text" name="name" class="form-control" id="contactAuthor" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-success">Send question</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="formModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="formModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">New text</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/text/create" method="POST">
        <div class="modal-body">
          <div class="mb-3">
            <label for="inputTitle" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="inputTitle" required>
          </div>
          <div class="mb-3">
            <label for="inputBody" class="form-label">Body</label>
            <textarea type="text" name="body" class="form-control" rows="5" id="inputBody" required></textarea>
          </div>
          <div class="mb-3">
            <label for="inputAuthor" class="form-label">Author</label>
            <input type="text" name="author" class="form-control" id="inputAuthor" required>
          </div>
          <div class="mb-3">
            <select class="form-select" name="tags" multiple aria-label="multiple select">
              <option value="sport">Sport</option>
              <option value="news">News</option>
              <option value="weather">Weather</option>
              <option value="poem">Poem</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-outline-danger">Clear</button>
          <button type="submit" class="btn btn-outline-success">Save text</button>
      </form>
    </div>
  </div>
</div>